apache-beam==2.56.0
async-timeout==4.0.3
attrs==23.2.0
build==1.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==2.2.1
crcmod==1.7
dill==0.3.1.1
dnspython==2.6.1
docopt==0.6.2
fastavro==1.9.4
fasteners==0.19
grpcio==1.62.2
hdfs==2.7.3
httplib2==0.22.0
idna==3.7
importlib_metadata==7.1.0
Js2Py==0.74
jsonpickle==3.2.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
numpy==1.24.4
objsize==0.7.0
orjson==3.10.4
packaging==24.0
proto-plus==1.23.0
protobuf==4.25.3
pyarrow==16.1.0
pyarrow-hotfix==0.6
pydot==1.4.2
pyhumps==3.8.0
pyjsparser==2.7.1
pymongo==4.7.3
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.5
referencing==0.35.1
regex==2024.5.15
requests==2.31.0
rpds-py==0.18.1
six==1.16.0
tomli==2.0.1
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.1
zipp==3.19.2
zstandard==0.22.0
